In [40]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
from config import key
import psycopg2

In [49]:
rds_connection_string = "postgres:group2@35.224.199.242:5432/postgres"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [50]:
engine.table_names()

<ipython-input-50-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['GameGenres',
 'GamesReleasedPlatforms',
 'videogames',
 'genre',
 'genre_id',
 'all_games',
 'platforms',
 'platform_list']

In [51]:
conn = engine.connect()

In [52]:
query = """
        Select
            *
        From
            all_games;
        """

df = pd.read_sql(query, conn)
df

,id,name,critic_score,user_score,platform,year,genre,global_sales,game_id,last_update
0,1,World of Goo,94,8.8,PC,2008.0,Puzzle,0.04,0,2022-03-22 18:14:01.576050
1,2,Metal Gear Solid V: The Phantom Pain,95,7.4,PS4,2015.0,Action,3.38,1,2022-03-22 18:14:01.576050
2,3,Metal Gear Solid V: The Phantom Pain,95,7.4,XOne,2015.0,Action,0.71,2,2022-03-22 18:14:01.576050
3,4,Metal Gear Solid V: The Phantom Pain,95,7.4,PS3,2015.0,Action,0.70,3,2022-03-22 18:14:01.576050
4,5,Metal Gear Solid V: The Phantom Pain,95,7.4,X360,2015.0,Action,0.21,4,2022-03-22 18:14:01.576050
...,...,...,...,...,...,...,...,...,...,...
88,89,Tony Hawk's Pro Skater 2,98,7.4,PS,2000.0,Sports,4.68,88,2022-03-22 18:14:01.576050
89,90,Tony Hawk's Pro Skater 2,98,7.4,GBA,2001.0,Sports,1.18,89,2022-03-22 18:14:01.576050
90,91,Tony Hawk's Pro Skater 2,98,7.4,N64,2001.0,Sports,0.76,90,2022-03-22 18:14:01.576050
91,92,The Legend of Zelda: Ocarina of Time,99,9.2,N64,1998.0,Action,7.60,91,2022-03-22 18:14:01.576050
92,93,The Legend of Zelda: Ocarina of Time,99,9.2,3DS,2011.0,Action,4.21,92,2022-03-22 18:14:01.576050

In [53]:
df = df.drop(["id", "platform", 'genre', "last_update"], axis=1)
df.head()

,name,critic_score,user_score,year,global_sales,game_id
0,World of Goo,94,8.8,2008.0,0.04,0
1,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,3.38,1
2,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.71,2
3,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.70,3
4,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.21,4

In [54]:
df.columns

Index(['name', 'critic_score', 'user_score', 'year', 'global_sales',
       'game_id'],
      dtype='object')

In [55]:
df.to_csv("Final_allgames.csv", index=False)

In [15]:
query2 = """
        Select
            *
        From
            videogames;
        """

df = pd.read_sql(query2, conn)
df

,id,name,platform,year,genre,global_sales,critic_score,user_score,last_updated
0,1,Grand Theft Auto V,PS3,2013.0,Action,21.40,96.0,7.8,2022-03-22 02:37:36.232415
1,2,Grand Theft Auto V,X360,2013.0,Action,16.38,96.0,7.8,2022-03-22 02:37:36.232415
2,3,Grand Theft Auto V,PS4,2014.0,Action,11.98,96.0,7.8,2022-03-22 02:37:36.232415
3,4,Grand Theft Auto V,XOne,2014.0,Action,5.08,96.0,7.8,2022-03-22 02:37:36.232415
4,5,Grand Theft Auto V,PC,2015.0,Action,1.08,96.0,7.8,2022-03-22 02:37:36.232415
...,...,...,...,...,...,...,...,...,...
88,89,The Orange Box,PS3,2007.0,Shooter,1.08,96.0,9.2,2022-03-22 02:37:36.232415
89,90,The Orange Box,PC,2007.0,Shooter,0.14,96.0,9.2,2022-03-22 02:37:36.232415
90,91,NFL 2K1,DC,2000.0,Sports,1.09,97.0,6.3,2022-03-22 02:37:36.232415
91,92,SoulCalibur,DC,1999.0,Fighting,0.34,98.0,8.6,2022-03-22 02:37:36.232415
92,93,World of Goo,PC,2008.0,Puzzle,0.04,94.0,8.8,2022-03-22 02:37:36.232415

In [21]:
query3 = """
        Select
            *
        From
            platforms;
        """

df = pd.read_sql(query3, conn)
df

    id platform               last_updated
0    1      PS3 2022-03-22 02:48:42.762126
1    2     X360 2022-03-22 02:48:42.762126
2    3      PS4 2022-03-22 02:48:42.762126
3    4     XOne 2022-03-22 02:48:42.762126
4    5       PC 2022-03-22 02:48:42.762126
5    6      PS2 2022-03-22 02:48:42.762126
6    7       XB 2022-03-22 02:48:42.762126
7    8      Wii 2022-03-22 02:48:42.762126
8    9       PS 2022-03-22 02:48:42.762126
9   10      N64 2022-03-22 02:48:42.762126
10  11      3DS 2022-03-22 02:48:42.762126
11  12       GC 2022-03-22 02:48:42.762126
12  13      PSP 2022-03-22 02:48:42.762126
13  14     WiiU 2022-03-22 02:48:42.762126
14  15      GBA 2022-03-22 02:48:42.762126
15  16     SNES 2022-03-22 02:48:42.762126
16  17       DC 2022-03-22 02:48:42.762126

In [22]:
queryg = """
        Select
            *
        From
            Genre;
        """

df = pd.read_sql(queryg, conn)
df

   id         genre               last_updated
0   1        Puzzle 2022-03-22 17:46:06.816234
1   2        Action 2022-03-22 17:46:06.816234
2   3       Shooter 2022-03-22 17:46:06.816234
3   4        Sports 2022-03-22 17:46:06.816234
4   5        Racing 2022-03-22 17:46:06.816234
5   6      Platform 2022-03-22 17:46:06.816234
6   7  Role-Playing 2022-03-22 17:46:06.816234
7   8      Fighting 2022-03-22 17:46:06.816234

In [28]:
query4 = """
        Select
            a.game_id, p.platform_id
        From
            all_games as a
        inner join platforms as p on a.platform=p.platform;
            """

platform_id = pd.read_sql(query4, conn)
platform_id.head()

   game_id  platform_id
0        0            0
1        1            1
2        2            2
3        3            3
4        4            4

In [30]:
platform_id.to_csv("plat_id.csv", index=False)

In [29]:
query5 = """
        Select
            a.game_id, g.genre_id
        From
            all_games as a
        inner join genre_id as g on a.genre=g.Genre;
"""
genre_id = pd.read_sql(query5, conn)
genre_id.head()

   game_id  genre_id
0        0         0
1        1         1
2        2         1
3        3         1
4        4         1

In [31]:
genre_id.to_csv("genre_id.csv", index=False)