In [17]:
import pandas as pd

In [20]:
csv_path = "../P2/kaggle_scores_clean.csv"
kaggle_df = pd.read_csv(csv_path, encoding="utf-8")
kaggle_df.head()

,index,name,platform,release_date,summary,meta_score,user_review
0,0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,5,Super Mario Galaxy,Wii,"November 12, 2007",[Metacritic's 2007 Wii Game of the Year] The u...,97,9.1

In [21]:
kaggle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12254 entries, 0 to 12253
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         12254 non-null  int64
 1   name          12254 non-null  object
 2   platform      12254 non-null  object
 3   release_date  12254 non-null  object
 4   summary       12153 non-null  object
 5   meta_score    12254 non-null  int64
 6   user_review   12254 non-null  object
dtypes: int64(2), object(5)
memory usage: 670.3+ KB

In [22]:
df2 = kaggle_df.drop_duplicates(subset=["name"]).reset_index()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12254 entries, 0 to 12253
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   level_0       12254 non-null  int64
 1   index         12254 non-null  int64
 2   name          12254 non-null  object
 3   platform      12254 non-null  object
 4   release_date  12254 non-null  object
 5   summary       12153 non-null  object
 6   meta_score    12254 non-null  int64
 7   user_review   12254 non-null  object
dtypes: int64(3), object(5)
memory usage: 766.0+ KB

In [23]:
df2.columns

Index(['level_0', 'index', 'name', 'platform', 'release_date', 'summary',
       'meta_score', 'user_review'],
      dtype='object')

In [25]:
df2.drop(['index', 'level_0'], axis=1)

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Super Mario Galaxy,Wii,"November 12, 2007",[Metacritic's 2007 Wii Game of the Year] The u...,97,9.1
...,...,...,...,...,...,...
12249,Charlie's Angels,GameCube,"July 9, 2003","Join Natalie, Dylan, and Alex for an intense a...",23,4.3
12250,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",Fast & Furious: Showdown takes some of the fra...,22,1.3
12251,Drake of the 99 Dragons,Xbox,"November 3, 2003",Drake is out for revenge in a supernatural Hon...,22,1.7
12252,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015","Head out on a journey of redemption, driven by...",21,2.9
12253,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012","(Formerly known as ""The War Z"") It has been 5 ...",20,1.7

In [26]:
df2.to_csv("kaggle_games_clean.csv", index=False)

In [27]:
csv_path = "../P2/vgsales_kaggle.csv"
kaggle_df2 = pd.read_csv(csv_path, encoding="utf-8")
kaggle_df2.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [28]:
df3 = kaggle_df2.drop_duplicates(subset=["Name"]).reset_index()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11493 entries, 0 to 11492
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         11493 non-null  int64
 1   Rank          11493 non-null  int64
 2   Name          11493 non-null  object
 3   Platform      11493 non-null  object
 4   Year          11328 non-null  float64
 5   Genre         11493 non-null  object
 6   Publisher     11442 non-null  object
 7   NA_Sales      11493 non-null  float64
 8   EU_Sales      11493 non-null  float64
 9   JP_Sales      11493 non-null  float64
 10  Other_Sales   11493 non-null  float64
 11  Global_Sales  11493 non-null  float64
dtypes: float64(6), int64(2), object(4)
memory usage: 1.1+ MB

In [29]:
df3.columns

Index(['index', 'Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher',
       'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [30]:
df3.drop(['index'], axis=1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
11488,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.00,0.01
11489,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.00,0.01
11490,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.00,0.01
11491,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
11492,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01

In [31]:
df3.to_csv("kaggle_scores_clean.csv", index=False)