In [17]:
import pandas as pd

In [20]:
csv_path = "../P2/kaggle_scores_clean.csv"
kaggle_df = pd.read_csv(csv_path, encoding="utf-8")
kaggle_df.head()

,index,name,platform,release_date,summary,meta_score,user_review
0,0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,5,Super Mario Galaxy,Wii,"November 12, 2007",[Metacritic's 2007 Wii Game of the Year] The u...,97,9.1

In [21]:
kaggle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12254 entries, 0 to 12253
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         12254 non-null  int64
 1   name          12254 non-null  object
 2   platform      12254 non-null  object
 3   release_date  12254 non-null  object
 4   summary       12153 non-null  object
 5   meta_score    12254 non-null  int64
 6   user_review   12254 non-null  object
dtypes: int64(2), object(5)
memory usage: 670.3+ KB

In [22]:
df2 = kaggle_df.drop_duplicates(subset=["name"]).reset_index()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12254 entries, 0 to 12253
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   level_0       12254 non-null  int64
 1   index         12254 non-null  int64
 2   name          12254 non-null  object
 3   platform      12254 non-null  object
 4   release_date  12254 non-null  object
 5   summary       12153 non-null  object
 6   meta_score    12254 non-null  int64
 7   user_review   12254 non-null  object
dtypes: int64(3), object(5)
memory usage: 766.0+ KB

In [23]:
df2.columns

Index(['level_0', 'index', 'name', 'platform', 'release_date', 'summary',
       'meta_score', 'user_review'],
      dtype='object')

In [48]:
df5 = df2.drop(['index', 'level_0', 'summary'], axis=1)
df5.head()

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4
4,Super Mario Galaxy,Wii,"November 12, 2007",97,9.1

In [49]:
df5.columns

Index(['name', 'platform', 'release_date', 'meta_score', 'user_review'], dtype='object')

In [50]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12254 entries, 0 to 12253
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          12254 non-null  object
 1   platform      12254 non-null  object
 2   release_date  12254 non-null  object
 3   meta_score    12254 non-null  int64
 4   user_review   12254 non-null  object
dtypes: int64(1), object(4)
memory usage: 478.8+ KB

In [59]:
#df5.loc[df5['user_review']=='tbd']
df9 = df5[df5.user_review != 'tbd']
df9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11265 entries, 0 to 12253
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          11265 non-null  object
 1   platform      11265 non-null  object
 2   release_date  11265 non-null  object
 3   meta_score    11265 non-null  int64
 4   user_review   11265 non-null  object
dtypes: int64(1), object(4)
memory usage: 528.0+ KB

In [60]:
df9.to_csv("kaggle_games_cleaner.csv", index=False)

In [39]:
csv_path = "../P2/vgsales_kaggle.csv"
kaggle_df2 = pd.read_csv(csv_path, encoding="utf-8")
kaggle_df2.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [40]:
df3 = kaggle_df2.drop_duplicates(subset=["Name"]).reset_index()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11493 entries, 0 to 11492
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         11493 non-null  int64
 1   Rank          11493 non-null  int64
 2   Name          11493 non-null  object
 3   Platform      11493 non-null  object
 4   Year          11328 non-null  float64
 5   Genre         11493 non-null  object
 6   Publisher     11442 non-null  object
 7   NA_Sales      11493 non-null  float64
 8   EU_Sales      11493 non-null  float64
 9   JP_Sales      11493 non-null  float64
 10  Other_Sales   11493 non-null  float64
 11  Global_Sales  11493 non-null  float64
dtypes: float64(6), int64(2), object(4)
memory usage: 1.1+ MB

In [41]:
df3.columns

Index(['index', 'Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher',
       'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [42]:
df6 = df3.drop(['index'], axis=1)
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11493 entries, 0 to 11492
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          11493 non-null  int64
 1   Name          11493 non-null  object
 2   Platform      11493 non-null  object
 3   Year          11328 non-null  float64
 4   Genre         11493 non-null  object
 5   Publisher     11442 non-null  object
 6   NA_Sales      11493 non-null  float64
 7   EU_Sales      11493 non-null  float64
 8   JP_Sales      11493 non-null  float64
 9   Other_Sales   11493 non-null  float64
 10  Global_Sales  11493 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 987.8+ KB

In [56]:
df6 = df6.dropna(subset = ["year", "publisher"])
df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11293 entries, 0 to 11492
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          11293 non-null  int64
 1   name          11293 non-null  object
 2   platform      11293 non-null  object
 3   year          11293 non-null  float64
 4   genre         11293 non-null  object
 5   publisher     11293 non-null  object
 6   na_sales      11293 non-null  float64
 7   eu_sales      11293 non-null  float64
 8   jp_sales      11293 non-null  float64
 9   other_sales   11293 non-null  float64
 10  global_sales  11293 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.0+ MB

In [54]:
df6.columns

Index(['rank', 'name', 'platform', 'year', 'genre', 'publisher', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales'],
      dtype='object')

In [44]:
df6.rename(columns={'Rank':'rank', 'Name':'name', 'Platform':'platform', 'Year':'year', 'Genre':'genre', 'Publisher':'publisher',
                    'NA_Sales':'na_sales', 'EU_Sales':'eu_sales', 'JP_Sales':'jp_sales', 'Other_Sales':'other_sales', 
                    'Global_Sales':'global_sales'}, inplace=True)

In [45]:
df6.columns

Index(['rank', 'name', 'platform', 'year', 'genre', 'publisher', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales'],
      dtype='object')

In [55]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11493 entries, 0 to 11492
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          11493 non-null  int64
 1   name          11493 non-null  object
 2   platform      11493 non-null  object
 3   year          11328 non-null  float64
 4   genre         11493 non-null  object
 5   publisher     11442 non-null  object
 6   na_sales      11493 non-null  float64
 7   eu_sales      11493 non-null  float64
 8   jp_sales      11493 non-null  float64
 9   other_sales   11493 non-null  float64
 10  global_sales  11493 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 987.8+ KB

In [57]:
df6.to_csv("kaggle_scores_clean.csv", index=False)